<h2 class="favoriteQuestionsHeeader">List of Favorite Questions</h2>

<div class="row">

    <ul class="list-unstyled">  

        {{#each questionCart.questions as |question|}}
        
            <div class="col-md-6">

                <div class="well listOfFavoriteQuestions">
                    
                    {{!-- Display Question and Author --}}
                    <li>

                        {{!-- Link a question to page containing additional information --}}
                        {{#link-to 'question' question.id}}

                            {{question.questionTitle}} 
                            
                        {{/link-to}}

                        <br>

                        by {{question.authorQuestion}}

                    </li>
                    
                </div>

            </div>

        {{/each}}

    </ul>

</div>