<div class="col-md-6">

    <div class="well listOfQuestionsTile">

        {{!-- Link a question to page containing additional information --}}
        {{#link-to 'question' question.id}}

            {{!-- Display Question and Author --}}
            <li>{{question.questionTitle}} 
                <br>
                by {{question.authorQuestion}}
            </li>

        {{/link-to}}


        {{!-- Add to Favourite Question Cart --}}
        <button class="btn btn-info" {{action 'addToQuestionCart' question}} >Add To Favorite Question</button>

    </div>

</div>
