<h2 class="questionPageHeader">

    <div class="answerCountInQuestionDetail">

        <small>
            <p>{{answersCount}}</p>    
        </small>

    </div>

    <br>

    {{heading}} 

</h2>

<p class="questionDetail">{{question.contentQuestion}}</p>
