<p class="questionDetail">{{question.contentQuestion}}</p>

<h2 class="answersHeader"> Answers </h2>

<ul class="listOfAnswers">
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>