/*Style Application Template*/

/*Style Header*/
.jumbotron {
    background-color: #17202A;
    color: #7FFF00;
    font-family: 'Cutive Mono', monospace;
}

.siteName {
    color: #7FFF00;
    font-family: 'VT323', monospace;
    font-size: 2em;
}

.siteName:link, .help:link {
    color: #7FFF00; 
    text-decoration: none;
}

.siteName:visited, .help:visited {
    color: #7FFF00; 
    text-decoration: none;
}

.siteName:hover, .help:hover {
    color: #7FFF00; 
}

.siteName:active .help:active {
    color: #7FFF00; 
}

p.slogan {
    font-size: 3em;
}

.homeLink {
    font-size: 4em;
}

.homeLink:hover {
    color: #337ab7;
}

/*Animate underscore in Application Template*/

.underscore {
    color: #7FFF00; 
    position: relative;
    font-size: 1.5em;
    /* Chrome and Safari*/
    -webkit-animation-name: blink-animation;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    /*Firefox*/
    -moz-animation-name: blink-animation;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    /*Opera*/
    -o-animation-name: blink-animation;
    -o-animation-duration: 1s;
    -o-animation-iteration-count: infinite;
    animation-name: blink-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

/*Chrome and Safari*/

@-webkit-keyframes blink-animation {
    from, to { 
        color: transparent 
    }
    50% {
        color: #7FFF00; 
    }
}

/*Fifefox*/

@-moz-keyframes blink-animation {
    from, to { 
        color: transparent 
    }
    50% {
        color: #7FFF00; 
    }
}

/*Opera*/

@-o-keyframes blink-animation {
    from, to { 
        color: transparent 
    }
    50% {
        color: #7FFF00; 
    }
}

/*Styel Footer*/
footer {
    background-color: #17202A;
    color: #7FFF00;
    text-align: center;
}

.copyright {
    font-size: 1.6em; 
    font-family: 'Cutive Mono', monospace;
}

/*Style the Index Template*/
.welcomeMessage {
    font-size: 2em; 
    font-family: 'Cutive Mono', monospace;
}

.help{
    color: #7FFF00;
    font-family: 'VT323', monospace;
    font-size: 1.25em;  
}

.listOfQuestions {
    font-size: 1.5em; 
    font-family: 'Cutive Mono', monospace;  
}

.listOfQuestionsTile {
    background-color: #FDFEFE;     
}

/*Style the forms in the New Question Component, Edit Question Component and New Answer Component*/

.newQuestionHeader, .editQuestionHeader, .answerQuestionHeader{
    font-size: 2.75em;
    font-family: 'Cutive Mono', monospace; 
}

.newQuestion, .editQuestion, .answerQuestion{
    font-size: 1.5em; 
    font-family: 'Cutive Mono', monospace;     
}

.newQuestion input, .editQuestion input, .answerQuestion input, #contentQuestion, #contentAnswer {
    font-size: 0.75em;
}

.newQuestion button, .editQuestion button, .answerQuestion button{
    font-size: 0.75em;
}

.addQuestionButton, .editQuestionButton, .answerQuestionButton {
    font-size: 1.5em; 
    font-family: 'Cutive Mono', monospace;
}

/*Style the Question Template*/
.questionPageHeader, .answersHeader {
    font-size: 2.75em;
    font-family: 'Cutive Mono', monospace;    
}

.questionDetail {
    font-size: 1.5em;
    font-family: 'Cutive Mono', monospace;
}

.listOfAnswers {
    font-size: 1.40em;
    font-family: 'Cutive Mono', monospace;
}

.editQuestionButton, .answerQuestionButton {
    margin-top: 1em;
    margin-bottom: 1.75em;
}




