<div class="container">

    <header class="jumbotron">

        <h1>{{#link-to 'index' class="siteName"}}--help<span class="underscore">_</span> {{/link-to}}</h1>

        <p class="slogan">Ask And You Shall Be Answered</p>
        
        {{#link-to 'index' class="homeLink"}}Home{{/link-to}}

    </header>

    {{outlet}}

    <hr>

    <footer>
        <small>
        <span class="copyright"> &copy; 2017 </span>{{#link-to 'index' class="siteName"}}--help<span class="underscore">_</span> {{/link-to}}</small>
    </footer>
</div>