<div class="container">
    
    <header class="jumbotron">
        {{#link-to 'index'}}
            <h1> --help</h1>
        {{/link-to}}
        <p>Ask and you shall be answered</p>
        {{#link-to 'index'}}Home{{/link-to}}
    </header>
    
    {{outlet}}

    <footer>
        <p>2017 --help </p>
    </footer>

</div>

