<div class="container">

    <header class="jumbotron">

        <h1>{{#link-to 'index'}}--help{{/link-to}}</h1>

        <p>Ask You Shall Be Answered</p>
        
        {{#link-to 'index'}}Home{{/link-to}}

    </header>

    {{outlet}}

    <hr>

    <footer>
        <p>2017 --help </p>
    </footer>
</div>