<p>Welcome to <span class="help"> --help </span> where you can ask a question and receive an answer</p>

<ul class="list-unstyled">
    {{#each model.questions as |question|}}
        {{!-- Render the question tile component --}}
        {{question-tile question=question}}
    {{/each}}
</ul>

{{!-- Render the new question component --}}
{{new-question saveQuestion="saveQuestion"}}






