<p class="welcomeMessage">Welcome to <span class="help">--help<span class="underscore">_</span> </span> where you can ask a question and receive an answer</p>

<hr>

{{!-- Render the new question component --}}
{{new-question saveQuestion="saveQuestion"}}

<hr>

<div class="row">
    
    <ul class="list-unstyled listOfQuestions">
        {{#each model.questions as |question|}}
            {{!-- Render the question tile component and most answered helper--}}
            {{question-tile question=question}}
        {{/each}}
    </ul>

</div>

<hr>

{{display-cart question=question}}



