<p>Welcome to <span class="help">--Help</span> where you can ask a question and receive an answer</p>

<ul class="list-unstyled">
    {{#each model as |question|}}
        {{question-tile question=question}}
    {{/each}}
</ul>

{{outlet}}