{{question-detail question=model}}

<hr>

{{!-- Render the edit-question component --}}
{{edit-question question=model edit="edit"}}

<hr>

<h2 class="answersHeader"> Answers </h2>

<div class="wrapperForListOfAnswers">

    <ul class="listOfAnswers">
      {{#each model.answers as |answer|}}
        {{answer-tile answer=answer}}
      {{/each}}
    </ul>
    
</div>
<hr>

{{!-- Render the new answer component --}}
{{new-answer question=model saveAnswer="saveAnswer"}}

